# Native
.kotlin/
dist/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# Native build output and local SDK path
/ios
/android/.gradle/
/android/local.properties
/android/**/build/
